<h2 class="mobile-msg">Please open this using larger screen devices to test your typing speed.</h2>
<div class="maincontainer">
    <div class="header" style="text-align: center;">
      <h1>{{title | titlecase}}</h1>
    </div>
    <div class="container" style="text-align: center;">
      <div class="content">
        <div class="time-selection" *ngIf="!timeFlag">
          <h3 style="font-weight: normal;">Select <span class="accent">duration</span> to start:</h3>
          <button (click)="getTime(15)" [ngClass]="{'active': time === 15}">15</button>
          <button (click)="getTime(30)" [ngClass]="{'active': time === 30}">30</button>
          <button (click)="getTime(60)" [ngClass]="{'active': time === 60}">60</button>
        </div>
        <h1 style="margin-bottom: 20px;" *ngIf="timeFlag">Time left: <span class="accent">{{ time }}</span> seconds</h1>
        <div class="messageBox">
          <p class="text-content">
            <ng-container *ngFor="let word of inputArray; let wordIndex = index">
              <span *ngFor="let char of word.split(''); let charIndex = index;" [ngStyle]="{'active': charIndex === messageCurrentIndex + 1}"
                [id]="'charspan' + (wordIndex + charIndex)">{{char}}</span>
            </ng-container>
          </p>
        </div>
        <div class="inputBox" *ngIf="timeFlag">
          <textarea type="textarea" name="textInput" id="text-input" [(ngModel)]="textInput" (input)="splitText();"
            (keydown)="onKeyDown($event)" (paste)="disablePaste($event)" autofocus>
            </textarea>
          <div class="scorecard" *ngIf="">
            <p>Words Per Minutes: {{wpm}}</p>
            <p>Correctly Typed Characters: {{correctTypeWord}}</p>
            <p>Mistyped Characters: {{misTypedWord}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
