<div class="maincontainer" *ngIf="inputArray">
    <div class="header" style="text-align: center;">
      <h1>{{title | titlecase}}</h1>
    </div>
    <div class="container" style="text-align: center;">
      <div class="content">
        <h1 style="margin-bottom: 20px;">Time left: {{ timeLeft }} seconds</h1>
        <div class="messageBox">
          <p class="text-content">
            <ng-container *ngFor="let word of inputArray; let wordIndex = index">
              <span *ngFor="let char of word.split(''); let charIndex = index;" [ngStyle]="{'active': charIndex === messageCurrentIndex + 1}"
                [id]="'charspan' + (wordIndex + charIndex)">{{char}}</span>
            </ng-container>
          </p>
        </div>
        <div class="inputBox">
          <textarea type="textarea" name="textInput" id="text-input" [(ngModel)]="textInput" (input)="splitText();"
            (keydown)="onKeyDown($event)" autofocus>
            </textarea>
          <div class="scorecard">
            <p>Words Per Minutes: {{wpm}}</p>
            <p>Correctly Typed Characters: {{correctTypeWord}}</p>
            <p>Mistyped Characters: {{misTypedWord}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
