<div class="maincontainer" *ngIf="inputArray">
  <div class="header" style="text-align: center;">
    <h1>{{title | titlecase}}</h1>
  </div>
  <div class="container" style="text-align: center;">
    <div class="content">
      <div class="messageBox">
        <p class="text-content">
          <ng-container *ngFor="let word of inputArray; let wordIndex = index">
            <span *ngFor="let char of word.split(''); let charIndex = index;"
              [id]="'charspan' + (wordIndex + charIndex)">{{char}}</span>
          </ng-container>
        </p>
      </div>
      <div class="inputBox">
        <textarea type="textarea" name="text-input" id="text-input" [(ngModel)]="textInput" (input)="splitText();"
          (keydown)="onKeyDown($event)" autofocus>
          </textarea>
        <p>Words Per Minutes: {{wpm}}</p>
        <p>Correctly Typed Characters: {{correctTypeWord}}</p>
        <p>Mistyped Characters: {{misTypedWord}}</p>
      </div>
    </div>
  </div>
</div>