@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    --text: #eee6fa;
    --background: #2c2e31;
    --primary: #b792ea;
    --secondary: #e12e2e;
    --accent: #4ad836;
    color: var(--text);
    background-color: var(--background);

}
.container{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.currentContainer{
    display: flex;
    justify-content: space-evenly;
}