<div class="container">
    <div class="backbtn" (click)="goBack()">
        <span>go back</span>
    </div>
    <div class="top-header">
        <h3>Current <span>Stats</span></h3>
        <div class="current">
            <div class="currentContainer">
                <span class="accent">Words Per Minute: {{wpm}}</span>
                <span>Incorrect Characters: {{misTypedWord}}</span>
                <span>Correct Characters: {{correctTypedWord}}</span>
            </div>
            <div class="rating" style="text-align: center;">
                <h2>{{rating}}</h2>
            </div>
            <div class="testresult">
                <span> Maximum WPM:  <span class="accent">{{highestWPM}}</span></span>
                <span>Raw WPM: {{rawWpm}}</span>
                <span>Accuracy : {{testAccuracy}}%</span>
            </div>
        </div>
    </div>
    <div class="savedDataContainer">
        <h3 style="margin-bottom: 20px;">Previous <span class="accent">Typing</span> Score</h3>
        <table>
            <tr>
                <th>Sr. No</th>
                <th><span class="accent">Words Per Minutes</span></th>
                <th>Incorrect Characters</th>
                <th>Correct Characters</th>
            </tr>
                <tr *ngFor="let savedData of savedData; let indx = index;">
                    <td>{{indx + 1}}</td>
                    <td>{{savedData.wpm}}</td>
                    <td>{{savedData.misTypedWord}}</td>
                    <td>{{savedData.correctTypedWord}}</td>
                </tr>
        </table>
        
    </div>
</div>