<div class="container">
    <div class="current">
        <div class="currentContainer">
            <h3>Words Per Minute: {{wpm}}</h3>
            <h3>Miss Typed Word: {{misTypedWord}}</h3>
            <h3>Correct Typed Word: {{correctTypedWord}}</h3>
        </div>
    </div>
    <div class="savedDataContainer">
        <ng-container *ngFor="let savedData of savedData">
            <div class="savedData">
                <p>WPM: {{savedData.wpm}}</p>
                <p>MisTyped: {{savedData.misTypedWord}}</p>
                <p>Correctly Typed: {{savedData.correctTypedWord}}</p>
            </div>
        </ng-container>
    </div>
</div>