@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    --text: #eee6fa;
    --background: #0f1113;
    --primary: #b792ea;
    --secondary: #e12e2e;
    --accent: #63ea71;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 3.75rem;
    background-color: var(--background);
    padding: 2.5rem;
    border-radius: 1.25rem;
    color: var(--text);
}

.current {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    padding: 1.25rem 0rem 0rem 0rem;
    align-items: center;
}

.savedDataContainer, .top-header {
    width: 80%;
    margin: auto;
}

.currentContainer,
.testresult {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
}
.backbtn{
    font-family: "Roboto Mono", monospace;
}
.backbtn:hover{
color: var(--accent);
cursor: pointer;
transition: .4s;
}

.savedData {
    display: flex;
    text-align: center;
    padding: 0rem 0.625rem;
}
.accent{
    color: var(--accent);
}
span {
    font-family: "Roboto Mono", monospace;
    transition: .1s;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td,
th {
    padding: 1.25rem;
}

tr:nth-child(odd) {
    background-color: #19191b;
}